:root {
  --color-primary: #fcf9eb;
  --color-secondary: #001233;
  --color-white: #fff;
  --color-black: #000;
}

/* global fonts */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
/* global styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  background-image: url("/images/632c60c6edb43c4b2018fe6b_Noise2.webp");
  background-position: 0 0;
  background-size: 10rem;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
